.todo {
    background-color: $mainColor;
    position: relative;
    height: 100vh;
    min-height: 100vh;
    padding-bottom: 85px;

    .tarjetitas {
        margin-top: 3%;
        margin-bottom: 2.5%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .tarjetita {
        width: 50vh;
    }

    .tarjetitaImagen {
        width: 100%;
    }

    .tarjetitaBoton {
        width: 30px;
        height: 30px;
        border-radius: 20%;
        color: $mainColor;
        background-color: $secondColor;
        border: 0px;
    }
}