.pedido {
    margin-top: 30px;
    text-align: center;
    color: $secondColor;
}

.form {
    width: 80vh;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 7.5vh;
}

textarea {
    margin-left: 45vh;
}

.mapa {
    width: 170vh;
    margin-left: 6vh;
}