.todo {
    background-color: $mainColor;
    position: relative;
    height: 100vh;
    min-height: 100vh;


    .pedido {
        margin-top: 20px;
        text-align: center;
        color: $secondColor;
    }

    .form {
        width: 80%;
        height: 30px;
        margin-bottom: 15px;
        align-content: center;
        margin-left: 10%;
    }

    textarea {
        width: 60%;
        margin-left: 20%;
    }

    .mapa {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

}