@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(233, 161, 165);
}
.navbar img {
  height: 40px;
}

.nav-link {
  color: rgb(248, 224, 188);
}

.navbar-toggler {
  border: none;
}
.navbar-toggler .fa-bars {
  color: rgb(248, 224, 188);
}

.footer {
  text-align: center;
  font-size: 45px;
  background-color: rgb(233, 161, 165);
  bottom: 0px;
  width: 100%;
  height: 70px;
  margin-top: auto;
}
.footer .redes {
  color: rgb(248, 224, 188);
}

.todo {
  background-color: rgb(248, 224, 188);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.todo .nleft {
  background-size: cover;
  background-position: center;
}
.todo .nleft img {
  width: 80%;
  height: 80%;
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 1%;
  justify-content: center;
  animation: imagenMovimiento 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes imagenMovimiento {
  100% {
    scale: 0.5;
  }
}
.todo .texto {
  text-align: center;
  background-color: rgb(248, 224, 188);
  justify-content: center;
  margin-top: 5px;
  font-family: "Ubuntu", sans-serif;
}
.todo .texto .XL {
  font-size: x-large;
  text-shadow: 2px 2px rgb(233, 161, 165);
}
.todo .texto .L {
  font-size: largE;
  text-shadow: 2px 2px rgb(233, 161, 165);
}

.todo {
  background-color: rgb(248, 224, 188);
  position: relative;
  height: 100vh;
  min-height: 100vh;
  padding-bottom: 85px;
}
.todo .imagenesProductos {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 280px 280px;
  grid-template-areas: "img1   img2    img3" "img4   img5    img6";
  grid-gap: 15px;
}
.todo .imagenesProductos .img1 {
  grid-area: img1;
  background-image: url(../multimedia/alfa.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img2 {
  grid-area: img2;
  background-image: url(../multimedia/choco.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img3 {
  grid-area: img3;
  background-image: url(../multimedia/postre.jpg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img4 {
  grid-area: img4;
  background-image: url(../multimedia/reina.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img5 {
  grid-area: img5;
  background-image: url(../multimedia/stich.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img6 {
  grid-area: img6;
  background-image: url(../multimedia/unicornio.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesProductos .img1:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesProductos .img2:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesProductos .img3:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesProductos .img4:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesProductos .img5:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesProductos .img6:hover {
  filter: sepia();
  transform: scale(1.1);
  transition: 1s;
}
@media screen and (max-width: 720px) {
  .todo .imagenesProductos {
    margin-top: 25px;
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 280px 280px 280px;
    grid-template-areas: "img1   img2" "img3   img4" "img5   img6";
    grid-gap: 15px;
  }
  .todo .img1:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
  .todo .img2:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
  .todo .img3:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
  .todo .img4:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
  .todo .img5:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
  .todo .img6:hover {
    filter: sepia();
    transform: scale(1.1);
    transition: 1s;
  }
}

.todo {
  background-color: rgb(248, 224, 188);
  position: relative;
  height: 100vh;
  min-height: 100vh;
  padding-bottom: 85px;
}
.todo .imagenesEventos {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 280px 280px;
  grid-template-areas: "img1   img2    img3" "img4   img5    img6";
  grid-gap: 15px;
}
.todo .imagenesEventos .imgEventos1 {
  grid-area: img1;
  background-image: url(../multimedia/cupcakes.jpg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos2 {
  grid-area: img2;
  background-image: url(../multimedia/torta.jpg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos3 {
  grid-area: img3;
  background-image: url(../multimedia/tres\ pisos.jpg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos4 {
  grid-area: img4;
  background-image: url(../multimedia/reina.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos5 {
  grid-area: img5;
  background-image: url(../multimedia/stich.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos6 {
  grid-area: img6;
  background-image: url(../multimedia/unicornio.jpeg);
  background-size: cover;
  background-position: center;
}
.todo .imagenesEventos .imgEventos1:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesEventos .imgEventos2:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesEventos .imgEventos3:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesEventos .imgEventos4:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesEventos .imgEventos5:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}
.todo .imagenesEventos .imgEventos6:hover {
  filter: saturate(180%);
  transform: scale(1.1);
  transition: 1s;
}

.todo {
  background-color: rgb(248, 224, 188);
  position: relative;
  height: 100vh;
  min-height: 100vh;
}
.todo .pedido {
  margin-top: 20px;
  text-align: center;
  color: rgb(233, 161, 165);
}
.todo .form {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  align-content: center;
  margin-left: 10%;
}
.todo textarea {
  width: 60%;
  margin-left: 20%;
}
.todo .mapa {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.recuadro {
  width: 65%;
  color: azure;
  background-color: rgb(199, 223, 223);
  border: 3px solid rgb(248, 224, 188);
  float: right;
  margin: 30px;
  padding: 30px;
  margin-left: 30%;
  margin-bottom: 21%;
}
.recuadro a {
  background-color: rgb(233, 161, 165);
  text-decoration: none;
  color: azure;
  padding: 10px 20px;
  float: right;
}
.recuadro h1 {
  margin-bottom: 20px;
}
.recuadro p {
  margin-bottom: 10px 20px;
  color: rgb(233, 161, 165);
}
.recuadro a:hover {
  background-color: #333;
  border: 3px solid rgb(248, 224, 188);
}/*# sourceMappingURL=styles.css.map */